
/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% Free To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */
/* =============================================================
   GENERAL STYLES
 ============================================================ */
body {
    font-family: 'Open Sans', sans-serif;
    padding-bottom:72px;
   
}
.basic-set {
    padding-top:50px;
    padding-bottom:80px;
    font-size:18px;
}
.head-line {
    font-size:25px;
    color:#f00;
    padding-bottom:10px;
    text-transform:uppercase;
    font-weight:800;
}
    .head-line span {
        color:#000;
    }
.black-btn {
    background-color: #000000;
    border-color: #FF0000;
}
    .black-btn:hover {
        background-color: #000000;
        border-color: #FF0000;
    }
    
    
    
.marginTop{
    margin-top: 10px;
}
.marginTop2{
    margin-top: 20px;
}
.marginBotton{
    margin-bottom:  10px;
}
.margin{
    margin: 10px;
}
.f20{
    font-size: 20px;
}
.f16{
    font-size: 16px;
}
.f14{
    font-size: 14px;
}

.cGris{
    color: #ccc
}
.aIzq{
    text-align: right;
}
.fullwidth{
    width: 100%;
}
.marginTop0{
    margin-top: 0px;
}
    
.col-centered{
    float: none;
    margin: 0 auto;
}

.h200{
    height: 600px;
}

.marginTop3{
    margin-top: 60px;
}
.cBlanco{
    color: #fff;
}
    
    
/* =============================================================
   NAVBAR STYLES
 =========================================================== */

.navbar {
border-radius: 2px;
margin-top: 0px;
border: 0px solid transparent;
padding: 5px;
padding-bottom: 17px;
}
.navbar-inverse {
    background-color: #0E0E0E;
    border-top: 1px solid #000;
    margin-bottom: 0px;
}
    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
        color:#f44;        
    }
    .navbar-inverse .navbar-nav > li > a {
        color:#fff;
        font-size:16px;
        padding:30px 20px;
    }
.navbar-toggle {
    
}
#nav-wrapper {
left: 0;
width: 100%;
z-index: 999;
top:0px;
position: fixed;
background-color: #777;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}
/* =============================================================
   HOME/VIDEO SECTION STYLES
 ============================================================ */
#home-sec {
    height:400px;
    color:#fff;
    text-align:center;
    border-bottom:4px solid #000;
}
    #home-sec .overlay {
        background-color:rgba(0, 0, 0, 0.8);
        min-height:400px;
    }
    #home-sec h1 {
        padding-top:80px;
        font-size:50px;
        font-weight:900;
        padding-bottom:30px;
    }
        #home-sec h1 i {
            color:#f00;
        }
/* =============================================================
   SERVICES SECTION STYLES
 ============================================================ */
.txt-block {
    padding-bottom:30px;
}


/* =============================================================
   JUST TEXT SECTION STYLES
 ============================================================ */
#consulta-sec {
      
      padding-top: 40px;
}
.mid-txt {
    margin-top: 0px;
    padding-bottom:40px;
    font-size:30px;
    font-weight:900;
    color:#fff;
    background-color: #000;
    width: 100%;
}

/*==========================================
   GALLERY/ PORTFOLIO STYLES
    =====================================================*/

#port-folio {
    padding-top: 10px; 
    min-height:550px;
}
.portfolio-item {
    border:2px solid #f00;
    margin:3px;
}
    .portfolio-item p {
        padding:12px;
        color:#fff;
        line-height:25px;
    }

.portfolio-item .overlay {
   
  background-color: #000;
  text-align: center;
  padding-bottom:30px;
  
}

/*==========================================
   GALLERY/ PORTFOLIO FILTER STYLES
    =====================================================*/
ul#filters {
	padding: 0px;
}
#filters {
	margin: 3% 0;
	padding: 0;
	list-style: none;
	text-align: center;
}
	#filters li {
		display: -webkit-inline-box;
	}
	#filters li span {
		display: block;
		padding: 5px 4px;
		text-decoration: none;
		color: #d51111;
		cursor: pointer;
		font-size: 18px;
	}
 	#port-folio .portfolio-item {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		width: 100%;		
		float:left;
		overflow:hidden;
        display:none;
	}
/* =============================================================
   PRICE SECTION STYLES
 ============================================================ */

#price-sec {
    background-color:#e1e1e1;
}

.price-div {
    background-color:#fff;
    padding:20px;
    margin:5px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
.price-cls {
    font-size:60px;
    font-weight:900;
    color:#f00;
    padding-right:20px;
}

#price-sec .media-heading {
    padding-top:20px;
}
/* =============================================================
   CONTACT SECTION STYLES
 ============================================================ */
#contact-sec {
    background-image: url("../img/contact.jpg");
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    -webkit-background-size: cover;
    color:#fff;
}
    #contact-sec .overlay {
        background-color:rgba(0, 0, 0, 0.5);
        min-height: 500px;

    }
    #contact-sec .social {
        padding-top:30px;
    }
#contact-sec .social a {
    font-size:25px; 
    padding:10px 30px;
    text-decoration:none;
    color:#fff;
    display:block;
    max-width:200px;
    margin-bottom:20px;
}
#contact-sec .subscribe {
    padding-top:30px;
    background-color:#000;
    color:#fff;
    height:100%;
}

    #contact-sec h2 {
        font-weight:900;
        color:#f00;
    }

/*==========================================================
 Snack Bar
============================================================*/ 
#snackbarSuccess,#snackbarFail {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbarSuccess.show,#snackbarFail.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}